<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet">

<div class="container">
  <div class="">
      <h2>Repository G-SEARCH</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-group">
        <input class = "form-control" placeholder="Enter Username" [(ngModel)] = "userName" name = "userName" (keyup) = repoLookup()>
        <input class = "form-control" placeholder="Enter Repository Name" [(ngModel)] = "repoName" name = "repoName" (keyup) = repoRequest()>
        <button type="reset" class="btn btn-info">Clear</button>
      </form>
    </div>
  </div>

  <div class="row">
      <div class="output card col-md-5">
        <h2>Searched Repository</h2>
        <h3 appHighlight><strong>{{repo.name}}</strong></h3>
        <p class="card-text"><strong>Description: </strong> <em>{{repo.description}}</em></p>
        <p class="card-text"><strong>Forks: </strong> <em>{{repo.forks}}</em></p>
        <em>{{repo.forks|forks}}</em>
        <p class="card-text"><strong>License: </strong> <em>{{repo.license}}</em></p>
        <button class="btn btn-info"><a [href]="repo.link">Visit Repository Github Page</a></button>
      </div>

      <div class="output card col-md-7">
        <h2>All User Repositories</h2>
          <div *ngFor="let rep of repos.reposArray">
              <div class="item">
                <h3 appHighlight><strong><p class="card-text">{{rep.name}}</p></strong></h3>
                <p  *ngIf><strong><p class="card-text">Description: </p></strong><em>{{rep.description}}</em></p>
                <p class="card-text"><strong>Language(s): </strong> <em>{{rep.language}}</em></p>
                <p class="card-text"><strong>License: </strong> <em>{{rep.license}}</em></p>
                <button type="button" class="btn btn-info"><a href="{{rep.html_url}}" target="_blank">View on GitHub</a></button>
              </div>
            </div>
      </div>
    </div>
</div>
